header{
    border: 1px solid $c-border-header;
    @include box-shadow(0px 2px 2px #eee);
    ul{
        @include display-flex( flex);
        @include justify-content(flex-end);
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
}

.btn-tab{
    background-color: transparent;
    @include box-shadow(none);
    border: none;
    height: 42px;
    width: 110px;
    &:hover, &:focus, &:active{
        background-color: transparent;
        outline: none;
    }
    &.active{
        border-bottom: 2px solid $c-tab-active;
    }
    &:hover{
        cursor: pointer;
    }
}

@include media($mobile) {
    header{
        ul{
            li{
                width: 50%;
            }
        }
    }
    
    .btn-tab{
        width: 100%;
    }
}
