.tab-content{
    .tab-two{
        width: 100%;
        >ul{
            margin: 0;
            padding: 0;
            width: 100%;
            >li{
                background-color: #fff;
                border: 1px solid #ddd;
                list-style: none;
                margin: 1.5em 0 0em;
                padding: 0em;
                width: 100%;
                &:first-child{
                    margin-top: 3em;
                }
            }
        }
        &__exclusive{
            @include display-flex(flex);
            @include justify-content(flex-end);
            a{
                background-color: $c-primary;
                @include transition(background-color 0.5s);
                padding: 3px 10px;
                &:hover,&:active{
                    background-color: darken($c-primary, 10%);
                }
            }
        }
        &__button{
            background-color: transparent;
            border: none;
            padding: 0 2em;
            &:focus{
                outline: none;
            }
            h4{
                display: inline-block;
                margin: 0 0 0.8em;
                &:before{
                    font-size: 0.8em;
                    @include transition(transform 0.5s);
                    margin-right: 15px;
                }
            }
            small{
                font-size: 1.1em;
                margin-left: 15px;
            }
        }
        .element{
            list-style: none;
            >ul{
                display: none;
                @include transition(all 0.5s);
                padding: 0 1.5em;
            }
            &.active{
                >ul{
                    display: block;
                }
            }
        }

        &__element{
            border: 1px solid #e0e0e0;
            @include display-flex(flex);
            @include flex-direction(column);
            margin: 0 0 1.5em;
            &__info{
                @include display-flex(flex);
                @include flex-direction(row);
                &__texts{
                    @include display-flex(flex);
                    @include flex-direction(column);
                    padding: 1em 1em 1em 2em;
                    h5{
                        margin: 0;
                    }
                }
                &__image{
                    padding: 0;
                }
                &__button{
                    @include align-items(flex-end);
                    @include display-flex(flex);
                    @include flex(1);
                    @include flex-direction(row);
                    .more-info{
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        &:after{
                            font-size: 0.9em;
                            @include transition(transform 0.5s);
                            margin-left: 18px;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            &__more-info{
                padding: 0 1em 1em 3em;
                ul{
                    display: inline-block;
                    padding: 0 0 0 1em;
                    position: relative;
                }
                li{
                    box-sizing: border-box;
                    list-style: disc;
                    float: left;
                    padding-right: 1em;
                    width: 33%;
                }
            }
        }
    }
}


//Start Collapse
.toggle-element{
    &.element{
        >ul{
            .toggle-element{
                .tab-one, .tab-two{
                    &__element__more-info{
                        @include transition(all 0.5s);
                        display: none;
                    }
                }
                &.removing-active{
                    .tab-one, .tab-two{
                        &__element__more-info{
                            @include opacity(0);
                        }
                    }
                }
            }
        }
        &.active{
            h4{
                &:before{
                    @include transform(rotate(180deg));
                }
            }
            >ul{
                .toggle-element{
                    &.active{
                        .tab-one, .tab-two{
                            &__element{
                                &__info{
                                    &__button{
                                        .more-info{
                                            &:after{
                                                @include transform(rotate(180deg));
                                            }
                                        }
                                    }
                                }
                                &__more-info{
                                    display: block;
                                    
                                }
                            }
                        }
                    }
                    &.removing-active{
                        .tab-one__element, .tab-two__element{
                            &__more-info{
                                @include opacity(0);
                            }
                        }
                    }
                }
            }
        }
    }
}
//End Toggle

//Responsive
@include media($mobile) {
    .tab-content{
        .tab-two{
            &__button{
                h4{
                    font-size: 1.7em;
                }
            }
            &__element{
                &__info{
                    @include flex-direction(column);
                    &__texts{
                        padding-left: 1em;
                    }
                }
                &__more-info{
                    margin-top: 0.5em;
                    padding-left: 1em;
                    li {
                        float: none;
                        padding-right: 0em;
                        width: auto;
                    }
                }
            }
        }
    }
}