.tab-one{
    width: 100%;
    h2{
        @include align-items( center);
        @include display-flex(flex);
        @include flex-direction(row);
        @include justify-content(center);
        strong{
            padding: 0 35px 0 4px;
        }
        .fi{
            color: $c-star;
            font-size: 0.5em;
            @include display-flex(inline-flex);
            margin: 0;
            padding: 0;
        }
    }
    h4{
        text-align: center;
    }

    .form-options{
        height: 100%;
        @include display-flex(flex);
        @include flex-direction(row);
        @include flex(1);
        width: 100%;
        &__list{
            @include display-flex(flex);
            @include flex-direction(row);
            @include flex-wrap(wrap);
            margin: 0;
            padding: 0;
            width: 100%;
            &__content{
                background-color: #fff;
                border: 1px solid $c-border-optionbox-inactive;
                height: 100%;
                @include display-flex(flex);
                @include flex-direction(column);
                @include transition(all 0.5s);
                padding: 5px;
                &:hover{
                    cursor: pointer;
                    @include box-shadow(0px 5px 6px #ddd);
                    @include transform(translateY(-5px));
                }
                &__title{
                    @include display-flex(flex);
                    @include justify-content(center);
                    position: relative;
                    &:after{
                        background-color: $c-border-title-binding-option;
                        bottom: 19px;
                        content: "";
                        display: block;
                        height: 2px;
                        position: absolute;
                        width: 80px;
                    }
                    h4{
                        padding: 0 10px;
                        min-height: 38px;
                    }
                }
                &__sub-list{
                    padding-left: 23px;
                    >li{
                        color: #aaa;
                        list-style-type: disc;
                        p{
                            color: $c-list-binding-option;
                            margin: 6px 0;
                        }
                    }
                }
                &__input-content{
                    @include align-items(flex-end);
                    @include display-flex(flex);
                    @include flex(1);
                    @include justify-content(center);
                    position: relative;
                    input{
                        bottom: 14px;
                        @include opacity(0);
                        left: calc(50% - 63px);
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        visibility: hidden;
                        &:checked{
                            + label{
                                &:before{
                                    color: $c-radio-btn-choose-active;
                                    content: "c";
                                }   
                            }
                        }
                    }
                    .label-option{
                        background-color: $c-back-binding-option;
                        border: 1px solid $c-back-binding-option;
                        color: $c-text-btn-choose-inactive;
                        @include align-items(center);
                        @include display-flex(flex);
                        @include transition(border 0.5s);
                        padding: 10px 18px;
                        position: relative;
                        &:hover{
                            cursor: pointer;
                        }
                        &:before{
                            font-size: 1em;
                            margin-right: 11px;
                        }
                    }
                }
                &.selected{
                    border-color: $c-border-optionbox-active;
                    .form-options__list__content{
                        &__input-content{
                            .label-option{
                                color: $c-text-btn-choose-active;
                                border-color: $c-border-optionbox-active;
                            }
                        }
                    }
                }
            }
            >li{
                @include box-sizing(border-box);
                height: auto;
                @include flex-direction(column);
                @include flex(1);
                @include flex-shrink(inherit);
                list-style: none;
                padding: 5px 5px 3em 5px;
            }
        }
    }
}

@include media($tablet) {
    .tab-one .form-options__list{
        &__content{
            height: auto;
            min-height: 256px;
            &__input-content{
                margin-top: 1em;
            }
        }
        >li{
            @include flex(0 0 50%);
            padding-bottom: 1em;
        }
    }
}

@include media($mobile) {
    .tab-one{
        h2{
            display: block;
            text-align: center;
            strong{
                display: block;
                padding: 0;
            }
        }
        .form-options__list{
            &__content{
                min-height: auto;
                &:hover{
                    @include box-shadow(none);
                    @include transform(translateY(0)) 
                }
            }
            >li{
                @include flex(0 0 100%);
            }
        }
    }
}