@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

@font-face {
    font-family: "cocktail";
    src: url("../font/cocktail.eot");
    src: url("../font/cocktail.eot?#iefix") format("embedded-opentype"),
        url("../font/cocktail.woff") format("woff"),
        url("../font/cocktail.ttf") format("truetype"),
        url("../font/cocktail.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fi{
	&:before{
		display: inline-block;
		font-family: "cocktail";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		font-size: 1.25em;
    	vertical-align: middle;
		text-decoration: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&_down-arrow{
		&:before{
			content: "a";
		}
	}
	&_star{
		&:before{
			content: "b";
		}
	}
	&_radio-button-checked{
		&:before{
			content: "c";
		}
	}
	&_radio-button{
		&:before{
			content: "d";
		}
	}
}

.fi-after{
	&:after{
		display: inline-block;
		font-family: "cocktail";
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: 1.25em;
		text-decoration: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
    	vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&_down-arrow{
		&:after{
			content: "a";
		}
	}
	&_star{
		&:after{
			content: "b";
		}
	}
}


h2{
	color: $c-title-binding-option;
	font-family: 'Roboto Slab';
	font-size: 24px;
	font-weight: 300;
	strong{
		font-size: 30px;
	}
}

label{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}

a{
	color: #fff;
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.52px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-tab{
	color: $c-tab-inactive;
	font-family: 'Roboto Slab';
	font-size: 16px;
	font-weight: 400;
	&.active{
		color: $c-tab-active;
	}
}

.label-option{
	color: $c-text-btn-choose-inactive;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}

.tab-one{
	h4{
		color: $c-title-binding-option;
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 700;
	}
	li{
		font-family: 'Roboto';
		font-size: 15px;
		font-weight: 400;
	}
}

.tab-two{
	h4{
		color: $c-title-features;
		font-size: 24px;
		font-family: 'Roboto Slab';
		font-weight: 700;
	}
	small{
		color: $c-title-features-optional;
	}
	h5{
		color: $c-subtitle-features;
		font-size: 18px;
		font-family: 'Roboto Slab';
	}
	p,li{
		color: $c-text-features;
	}
	li{
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 400;
	}
}

.more-info{
	color: $c-more-info-features;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
}