html{
  height: 100%;
}

body {
  /* padding: 40px;
  background-color: #fafafa; */
  background-color: $c-back-body;
  margin: 0;
  height: 100%;
}

.row {
  @extend %clearfix;
  height: 100%;
  clear: both;
  width: 100%;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: $medium-desktop;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  clear: both;
  @extend %clearfix;
}

header{
  background-color: #fff;
}

.tab-content{
  @include display-flex(flex);
  @include flex(1);
}

// Actions in tabs and collapse
.tabs{
  display: none;
  &.active{
      display: block;
  }
}


@include media($mobile) {
  .wrapper{
    padding: 0;
  }
}