//
// Responsive helpers
//

@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

// Desktop
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important;
}
.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit;
}

// Tablet
@media only screen and (max-width: $tablet) {
  .responsive-only,
  .tablet-only {
    display: block !important;
  }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important;
  }
}

// Mobile
@media only screen and (max-width: $mobile) {
  .responsive-only,
  .mobile-only {
    display: block !important;
  }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important;
  }
}


// @include clearfix()
@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// @extend %clearfix
%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin min-content($type){
  @if $type == width{
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    }@else {
      height: -moz-min-content;
      height: -webkit-min-content;
      height: min-content;
  }
}

.sr-only{
  border: 0;
  clip: rect(0,0,0,0);
  color: transparent;
  font-size: 0;
  height: 0px;
  @include opacity(0);
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  width: 0px;
}

button{
  &:hover{
    cursor: pointer;
  }
}