// Colors
$c-primary:   #D52B1E;
$c-secondary: #263746;
$c-star: #fac937;

//Texts
$c-title-binding-option: #2468ab;
$c-list-binding-option: #0b224a;
$c-title-features: #4ba7ee;
$c-title-features-optional: #1a61a7;
$c-text-features: #333;
$c-subtitle-features: #033970;
$c-more-info-features: #6cb9f4;

//Tabs
$c-tab-active: #003970;
$c-tab-inactive: #72baf2;

//Borders
$c-border-header: #ddd;
$c-border-title-binding-option: #e5f2fd;
$c-border-optionbox-active: #326c96;
$c-border-optionbox-inactive: #c9e3f9;

//Buttons
$c-text-btn-choose-active:#033970;
$c-text-btn-choose-inactive:#676a6f;
$c-radio-btn-choose-active:#6dc138;

//Backgrounds-color
$c-back-binding-option: #f9f9fb;
$c-back-body: #f9f9f9;

// Typography
$f-sans:  'flamabasic',      sans-serif;
$f-basic: 'flamabasic',      sans-serif;
$f-semib: 'flamasemibold',   sans-serif;
$f-light: 'flamalight',      sans-serif;
$f-ultra: 'flamaultralight', sans-serif;

// MediaQueries Breakpoints
// See https://github.com/carloscabo/mqbe and ./utils for both js and sass media queries helpers
$mobile: 767px;
$tablet: 1023px;
$small-desktop:  1024px;
$medium-desktop: 1264px;